# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# Logs and local DBs
*.log
*.sqlite3

# VS Code settings
.vscode/

# Test cache
.pytest_cache/
.coverage

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar
uploads/

static/
recordings/